@import "config";

/* Utilities */

.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

.btn {
  padding: 0.5rem 2rem;
  background-color: $secondary-color;
  border: none;
  margin: 1rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: #fff;

  &:hover {
    cursor: pointer;
  }
}

.bg-dark {
  background-color: $main-color;
}

.bg-medium {
  background-color: $secondary-color;
}

.py-1 {
  padding: 1rem;
}
.py-2 {
  padding: 2rem;
}
.py-3 {
  padding: 3rem;
}
.py-4 {
  padding: 4rem;
}

//Alert

.alert.success {
  display: block;
  position: absolute;
  color: red;
  top: -30px;
  left: 30%;
  width: 500px;
  text-align: center;
  padding: 1rem;
  background-color: #57c991;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  animation: fadein 2s;
  -webkit-animation: fadein 5s;
}
.alert.danger {
  display: block;
  position: absolute;
  color: red;
  top: -30px;
  left: 30%;
  width: 500px;
  text-align: center;
  padding: 1rem;
  background-color: #964752;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  animation: fadein 2s;
  -webkit-animation: fadein 5s;
}

//Keyframes

@keyframes fadein {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
