@import "utilities";
@import "config";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: $secondary-color;
}

a {
  text-decoration: none;
}

/* header */

.header_main {
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  #actions {
    padding: 0.5rem 2rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
}

// Product list

#product_list {
  // height: 100vh;
  position: relative;

  .card_container {
    form {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 2rem;
    }

    .delete_checkbox {
      position: absolute;
      top: 20px;
      left: 20px;
    }

    .card_item {
      position: relative;
      margin: 1rem;
      text-align: center;
      padding: 1rem;
      border: 1px solid black;
      background-color: $dark-color;
      transition: all 0s ease-in;
      -webkit-transition: all 0.5s ease-in;
      -moz-transition: all 0.5s ease-in;
      -ms-transition: all 0.5s ease-in;
      -o-transition: all 0.5s ease-in;

      &:hover {
        cursor: pointer;
        border: 2px solid $border-color;
      }

      .card_span {
        display: block;
        margin-top: 1rem;
        color: #fff;
      }
    }
  }
}

// Product Add

.add_product {
  background-color: $secondary-color;
  height: 100vh;
  position: relative;

  form {
    margin: 2rem;
    color: #fff;
    width: 30%;
  }
  .input_group {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    justify-content: space-between;

    &:nth-child(4) {
      display: block;

      select {
        width: 40%;
        margin-left: 1.5rem;
        text-align: center;
        padding: 0.3rem 0.3rem;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
      }
    }

    input {
      width: 80%;
      padding: 0.3rem 0.3rem;
      text-align: center;
      border: none;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;

      &:focus {
        outline: none;
      }
    }
  }
  .type_form {
    opacity: 1;
    width: 120%;
    margin-top: 2rem;
    background-color: $dark-color;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    p {
      margin-top: 2rem;
      text-align: center;
    }
  }
}

#book_type {
  display: none;
}
#furniture_type {
  display: none;
}
